/* General */
*,
*::before,
*::after {
    box-sizing: border-box;
}

p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 1rem;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

/* HEADER*/
header {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.05));/*Degrade*/
    padding: 0.5rem 0;
    position: fixed;
    z-index: 1000;
}

/* Top header*/
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
}

/* Logo*/
.logo {
    text-align: left;
}

.logo img {
    height: 58px;
    width: 180px;
    margin: 20px;
}

/* Menu*/
.menu {
    display: flex;
}

.menu ul {
    list-style-type: none;
    padding: 1rem;
    margin: 0;
    display: flex;
    gap: 1rem;
}

.menu li {
    padding-right: 0.5rem;
}

.menu a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: gainsboro;
    font-style: normal;

}

.link:hover {
    color: white;
}

/* Hamburger menu*/
.hamburger {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.hamburger div {
    width: 100%;
    height: 3px;
    background-color: gainsboro;
    margin: 4px 0;
}

/* Script Nav */
.script-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

.script-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.script-nav li {
    flex: 1;
    position: relative;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-optical-sizing: auto;
    font-weight:900;
    font-size: large;
}

.script-nav .name {
    display: block;
    padding-right: 3rem;
    text-align: right;
    color: gainsboro;
    text-decoration: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 7);
}

.script-nav .name:hover {
    color: white;
}

.script-nav .name:hover + .list,
.script-nav .list:hover {
    display: block;
}

.script-nav .list {
    display: none;
    position: absolute;
    top: calc(100% + 0.5rem); 
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 0.5rem;
    z-index: 10; /* Asegura que el desplegable esté encima de otros elementos */
    border-top: rgba(231, 98, 9, 0.849) solid 3px; 
}


.script-nav .name {
    display: block;
    padding: 0;
    text-align: center;
    color: gainsboro;
    text-decoration: none;
}

.script-nav .list dl {
    display: block;
    margin: 0;
    padding: 0;
}

.script-nav .list dd {
    display: block;
    margin: 0;
    padding: 0.5rem 0;
}

.script-nav .list a {
    display: block;
    color: #4b0c77;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 1rem;
}

/*IMAGE*/
.background-image {
    display: flex;
    flex-grow: 1;
    min-height: 40vh;
}

.pricipal-image {
    position: relative;
    min-width: 100%;
    max-height: 82vh;
    overflow: hidden;
}

.pricipal-image img {
    width: 100%;
    min-height: 36vh;
    display: block;
}

.image-title {
    position: absolute;
    bottom: 30px;
    left: 20px;
    margin: 0;
    color: white;
    padding: 0px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 7);
    font-family: 'Oswald', sans-serif;
    font-size: 4em;
    font-weight: bold;
}

/*MAIN*/
main {
    padding: 40px;
}
.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

/* Section*/
section {
    margin-bottom: 40px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

section h2{
    text-align: left;
    font-size: 2em;
    margin-bottom: 20px;
    color: black;
    font-size: 1.5em;
    font-family: "SourceSansPro-Regular", "微软雅黑";
    font-weight: 500;
    border-bottom: 2px solid #4b0c77;
    padding-bottom: 10px;
}

/* Info Grid*/
.info-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

/* Info Box*/
.info-box {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.trending-topics-section .info-box:hover {
    transform: translateY(-10px);
}

.info-box img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.info-content {
    padding: 20px;
    text-align: center;
}

.info-content h3 {
    margin: 0 0 10px;
    font-size: 1.4em;
    color: black;
    font-family: "SourceSansPro-Regular", "微软雅黑";
    font-weight: 400;
    transition: color ease 0.3s;
}

.info-content h3:hover{
    color: #4b0c77;
}

.info-content p {
    color: #666;
    line-height: 1.5;
}

/* More Link*/
.more-link {
    display: inline;
    margin: 10px 100px 250px 100px;
    padding: 10px;
    border-radius: 8px;
    color: #4b0c77;
    text-decoration: none;
    font-size: 1.2em;
    font-family: "SourceSansPro-Regular", "微软雅黑";
    border: 1px solid #4b0c77;
    font-weight: bold;
    text-align: center;
}

/* News Section*/
.news-section {
    background-color: #4b0c77; 
    padding: 40px 0;
    text-align: center;
}

.head{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.news-section h2{
    text-align: left;
    font-size: 2em;
    color: white;
    margin-left: 2rem;
    padding-right: 1rem;
    margin-top: 0;
    border-right: 1px solid #fff;
}

.head a{
    margin-bottom: 1.7rem;
    margin-left: 1rem;
}

/* News Grid*/
.news-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.news-item {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 300px; 
    overflow: hidden;
    flex: 1 1 calc(33.333% - 20px); 
    max-width: calc(33.333% - 20px);
}

.news-item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(0,0,0,0.7), transparent);
}

.news-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    font-family: "SourceSansPro-Regular", "微软雅黑";
    font-weight: bold;
    padding: 10px;
    transition: color ease 0.3s;
}

.news-content:hover {
    color: rgb(233, 166, 78);
}

.news-content p {
    margin: 0;
    font-size: 1.2em;
}

/*Resources*/
.resources {
    padding: 20px;
    display: flex;
    align-items: center;
}

.resources h2 {
    margin: 0;
    margin-bottom: 10px;
    margin-left: 10px;
    color: #4b0c77;
    font-size: 1.5em;
    font-family: 'Oswald', sans-serif;
    font-weight: 800;
}

.resources ul {
    list-style-type: none;
    padding: 0;
    margin-left: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.resources li {
    margin-bottom: 10px;
    margin-left: 10px;
    max-width: 200px;
}

.resources li a {
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif, Helvetica, sans-serif;
    color: #4b0c77;
    display: block;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

/* FOOTER*/
footer {
    padding: 1em;
    background-color: #4b0c77;
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Footer: Logo and Share Section */
.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 1em;
}

.logo-footer {
    display: flex;
    align-items: center;
}

.share {
    display: flex;
    align-items: center;
}

.share ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.share li {
    padding: 0.5rem;
}

/* Info section in footer */
.info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-top: rgba(255, 255, 255, 0.27) solid 1px;
    margin: 0;
    padding: 0;

}

.info .col {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    padding: 0.1em;
}

.col p {
    padding: 0.7rem;
    opacity: 0.23;
    line-height: 1.5;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 0.7rem;
}

.info .list {
    display: flex;
    flex-direction: row;
    justify-content: right;
    flex: 1;
    padding: 0;
    margin: 0;
}

.info .list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.list li {
    padding: 0.5rem;
    padding-left: 0.5rem;
    display: flex;
    align-items: center;
}

.list p{
    padding: 0.7rem;
    opacity: 0.5;
    line-height: 1.5;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 0.7rem;
}

@media screen and (max-width: 1023px) {
    .menu {
        display: none; 
        flex-direction: column; 
        align-items: center; 
    }

    .menu ul {
        flex-direction: column; 
    }

    .hamburger {
        display: flex; 
        position: absolute;
        top: 0;
        right: 10px;
        margin-top: 10px;
    }

    .menu.show {
        display: block;
    }

    .image-title {
        font-size: 2.7em;
        padding: 5px;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .container {
        padding: 10px;
    }

    .section {
        padding: 10px;
    }

    .info-grid {
        grid-template-columns: 1fr;
    }

    .more-link{
        margin: 0;
    }

    .info-box {
        margin-bottom: 10px;
    }

    .info-content h3 {
        font-size: 1.3em;
    }

    .info-content p {
        font-size: 0.9em;
    }

    .news-grid {
        grid-template-columns: 1fr;
        padding: 20px;
    }
    
    .news-item {
        flex: 1 1 100%;
        max-width: 100%;
    }
    
    .resources ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px; 
        margin: 0;
    }

    .resources {
        flex-direction: column;
        align-items: center;
    }

    .resources h2 {
        margin-bottom: 20px;
    }

    .resources li {
        margin-left: 0;
    }
    
    .footer-top,
    .info {
        flex-direction: column;
        align-items:center;
    }

    .footer-top {
        margin-bottom: 1em;
    }

    .share,
    .logo-footer{
        padding: 0.5em 0;
        margin: 0.2em 0;
    }

    .info .col,
    .info .list {
        width: 100%;
        justify-content: center;
        flex-direction: column;
        padding: 0.5em 0;
    }

    .info .list ul {
        justify-content: center;  
        flex-direction: row;
    }


    .info .col p{
        padding: 0.5em 0;
        margin: 0.2em 0;
    }
}